In [127]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [128]:
dicio={
'nan':0,'Mr.':1 ,'Mrs.':2,'Miss.':3 ,'Master.':4 ,'Planke':5,'Don.':6 ,'Rev.':7,'Ms.':8 ,'Major.':9 ,'Col.':10 ,'Capt.':11 }

In [265]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
dataframe =[train_df,test_df]
for i in dataframe:
    i['Sex'] = i['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
    i['Embarked'] = i['Embarked'].fillna('S')
    i['Embarked'] = i['Embarked'].map( {'S': 1, 'C': 0,'Q': 2} ).astype(int)    
    i['Cabin']=i['Cabin'].fillna('0')
    i['Fare']=i['Fare'].fillna('0')
    i['Age']=i['Age'].fillna('0')
    i['NameSr']=i.Name.str.split().str[1].map(dicio).astype(str)#.loc[i.NameSr == 'nan','NameSr']=0
    i.loc[i.NameSr == 'nan','NameSr']=0
    i.loc[i.Cabin != '0','Cabin']=1
    #i.drop(['PassengerId','Ticket','Name'],axis = 1, inplace=True)

In [266]:
#train_df['NameSr']=train_df.Name.str.split().str[1].map(dicio).astype(str).loc[train_df.NameSr == 'nan','NameSr']=0
#train_df.loc[train_df.NameSr == 'nan','NameSr']=0
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NameSr
0,1,0,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7.2500,0,1,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38,1,0,PC 17599,71.2833,1,0,2.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7.9250,0,1,3.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35,1,0,113803,53.1000,1,1,2.0
4,5,0,3,"Allen, Mr. William Henry",0,35,0,0,373450,8.0500,0,1,1.0

In [267]:
#train_df.Cabin.value_counts()
#train_df.Fare.isnull().sum()

In [268]:
#train_df.Cabin.value_counts()
Y_train=train_df['Survived']
X_train=train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked','NameSr']]
X_test = test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked','NameSr']]

In [269]:
X_test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
NameSr      0
dtype: int64

In [270]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression


# Logistic Regression
logreg = LogisticRegression() #(C=0.1, penalty='l1', tol=1e-6)
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

result_train = logreg.score(X_train, Y_train)
result_val = cross_val_score(logreg,X_train, Y_train, cv=5).mean()
print('taring score = %s , while validation score = %s' %(result_train , result_val))

taring score = 0.7934904601571269 , while validation score = 0.7878891916304316

In [242]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)
print('Exported')

Exported